@page "/counter"
@inject CounterShared sh;
<div class="border rounded m-1 p-1">
    <PageTitle>Counter</PageTitle>

    <h1>Counter!</h1>

    <p role="status">Current count: @sh.CounterSharedValue</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</div>

@code {
    private void IncrementCount()
    {
        sh.CounterSharedValue++;
    }
}
